In [4]:
import streamlit as st
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns =['lat', 'lon']
)


df

          lat         lon
0   35.692354  139.716169
1   35.702374  139.704501
2   35.708889  139.713808
3   35.693241  139.717560
4   35.698284  139.702588
..        ...         ...
95  35.699881  139.706365
96  35.703702  139.701757
97  35.691446  139.704295
98  35.704842  139.706280
99  35.690968  139.709138

[100 rows x 2 columns]

In [7]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]